<div class="back-edit">
  <h2>Edit and confirm this Booking</h2>
</div>

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <%= simple_form_for([@property, @booking]) do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :confirmed %>
      <div class="back-edit">
      <%= f.submit 'Confirm now', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="back-edit">
  <%= link_to 'Back', property_path(@property) %>
</div>
