<div class="container">
  <div class="form-inputs">
    <%= simple_form_for(@property) do |f| %>
      <%= f.input :address %>
      <%= f.input :postcode %>
      <%= f.input :price %>
      <%= f.input :description %>
      <%= f.input :number_beds %>
      <%= f.input :wifi %>
      <%= f.input :kitchen %>
      <%= f.input :bathroom %>
      <%= f.input :dog_friendly %>
      <%= f.input :air_defense %>
    <div class="form-actions">
      <%= f.submit class: "btn btn-ghost" %>
    </div>
    <% end %>
  </div>
</div>
