<div>
  <h2><%= @property.address %></h2>
  <p><%= @property.postcode %></p>
  <p><%= @property.description %></p>
  <p> £<%= @property.price %></p>
</div>

<%= link_to 'Edit', edit_property_url(@property) %>
<%=  link_to 'Back', properties_path %>
