<div class="banner" style= "background-image: url(<%= @property.image_url? ? "\"#{@property.image_url}\"" : "\"https://images.unsplash.com/photo-1470217957101-da7150b9b681?ixlib=rb-1.2.1&ixid=MnwxM[…]90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1334&q=80\"" %>);">
   <h1><%= @property.name %></h1>
</div>

<div class="show-side-by-side">
<div class="show-container">

  <div class="description-card" >
      <h3>Description<h3>
      <p><%= @property.description %></p>
      <p><%= @property.address %></p>
      <p>Post Code: <%= @property.postcode %></p>
      <p><i class="fas fa-bed"></i> x <%= @property.number_beds %></p>
      <p><i style="<%= @property.wifi ? "color: green;" : "color: red;"%>" class="fas fa-wifi"></i> - Wifi</p>
      <p><i style="<%= @property.kitchen ? "color: green;" : "color: red;"%>" class="fas fa-utensils"></i> - Kitchen</p>
      <p><i style="<%= @property.bathroom ? "color: green;" : "color: red;"%>" class="fas fa-bath"></i> - Bathroom</p>
      <p><i style="<%= @property.dog_friendly ? "color: green;" : "color: red;"%>" class="fas fa-dog"></i> - Dog friendly</p>
      <p><i style="<%= @property.air_defense ? "color: green;" : "color: red;"%>" class="fas fa-rocket"></i> - Rocket pad</p>
  </div>

  <div class="price-card">
    <h1> Price - £<%= @property.price %>💰💰</h1>
  </div>

  <div class="booking-button">
      <%= link_to 'Book me', new_property_booking_path(@property), class: "btn bg-success btn-lg" %>
  </div>

<div class = "container-map">
    <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
    </div>
  </div>
</div>


<div class="back-edit">
  <%= link_to 'Edit | ', edit_property_path(@property) %>
  <%=  link_to 'Back', properties_path %>
        </div>
